.card {
    width: 15rem;
    padding: 1.5rem;
    margin: .5rem;
}
.card:hover {
    box-shadow: 6px 11px 36px rgba(0, 0, 0, 0.04);
    border-radius: 2rem;
    background-color: #F4F4FF;
}
.image {
    width: 100%;
    height: 12rem;
}
.image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.title {
    margin-top: .25rem;
    color: #535353;
    font-weight: 700;
    margin-bottom: 1rem;
    max-height: 2.5rem;
    overflow: hidden;
}
.amount {
    font-size: .8rem;
    color: #ABABAB;
    font-weight: 400;
}
.rating {
    display: flex;
}
.rating > img {
    height: 1rem;
}
.ratingWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.price {
    color: #535353;
    font-weight: 700;
    margin-right: .5rem;
}
.buy {
    z-index: 5;
    text-align: center;
    padding: .75rem 1.2rem;
    border-radius: 99999rem;
    background-color: #16C1A1;
    color: white;
    font-weight: 700;
    filter: drop-shadow(3px 5px 14px rgba(22, 193, 161, 0.25));
    cursor: pointer;
    transition: transform .1s;
}
.buy:hover {
    background-color: #14a187;
}
.buy:active {
    transform: scale(0.8);
}