.container {
    position: relative;
    height: 50px;
}
.range {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;

}
.sliderTrack {
    width: 100%;
    height: 3px;
    background-color: #d5d5d5;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;

}
.range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}
.range::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}
.range::-ms-track {
    appearance: none;
    height: 5px;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #16C1A1;
    cursor: pointer;
    border-radius: 9999px;
    pointer-events: auto;
    margin-top: -9px;
}
.range::-moz-range-thumb {
    -moz-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #16C1A1;
    cursor: pointer;
    border-radius: 9999px;
    pointer-events: auto;
    margin-top: -9px;
}
.range::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #16C1A1;
    cursor: pointer;
    border-radius: 9999px;
    pointer-events: auto;
    margin-top: -9px;
}
.range:active::-webkit-slider-thumb {
    background-color: #fff;
    border: 8px solid #16C1A1;
}
