.header {
    position: sticky;
    top: 0;
    z-index: 9999999;
    box-shadow: white 0px 0px 2px;
}
.upperheader {
    width: 100%;
    background: #F4F1FF;
    margin: 0;
    padding: 0 10vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
}
.item {
    display: block;
    text-align: center;
    color: #6C6C6C;
    
}
.catalog > label {
    background-color: #FFA927;
    border-radius: 99999rem;
    border: none;
    padding: .7rem 2rem;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
    display: block;
}
.catalog > label:hover {
    background-color: #da880d;
}
.icon {
    vertical-align: middle;
    margin-right: .5rem;
}
.lowerheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: white;
    margin: 0;
}
.searchinput {
    border: none;
    border-bottom: #E9E9E9 solid 1px;
    padding: .25rem 0;
    font-size: 1rem;
}
.searchinput:focus {
    outline: none;
    border-color: #6C6C6C;
}
.searchinput::placeholder {
    color: #DEDEDE;
}
.searchbutton {
    background-color: #FFA927;
    border: none;
    border-radius: 999999rem;
    padding: .5rem .75rem;
    margin-left: -.5rem;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(255, 169, 39, 0.15);
}
.searchbutton:hover {
    background-color: #da880d;
}
.iconswrapper {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}
.lowerheadericon {
    vertical-align: middle;
    margin: 0 1rem;
}
.catalogexpanded {
    display: none;
    position: absolute;
    background-color: #F8F8FF;
    margin-top: 1rem;
    padding: 1rem 0;
    list-style: none;
}
.catalogicon {
    border-radius: 9999rem;
    background-color: #E3DFFF;
    padding: .25rem;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
}
.catalogItem {
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    text-align: left;
    font-weight: 700;
    color: #535353;
    cursor: pointer;
}
.catalogItem > span {
    flex-grow: 1;
}
.catalogArrow {
    margin-left: 1rem;
}
.catalogItem:hover {
    background-color: #F0F0F0;
}
.catalogItem:hover > .catalogexpandedItem {
    visibility: visible;
    opacity: 1;
}
.catalogexpandedItem:hover {
    visibility: visible;
    opacity: 1;
}
.catalogexpandedItem {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left:19.5rem;
    top: 0;
    background-color: #F8F8FF;
    min-width: 20rem;
    min-height: 29rem;
    list-style: none;
    cursor: default;
    padding: 1rem 0;
    transition: opacity .2s;
}
.catalogexpandedItem > a {
    padding: 1rem 2rem;
    text-align: left;
    display: block;
    cursor: pointer;
    color: #535353;
}
.catalogexpandedItem > a:hover {
    background-color: #F0F0F0;
    text-decoration: none;
}
.logOut {
    border: none;
    background-color: transparent;
    font-family: 'Roboto';
    font-size: 1rem;
    cursor: pointer;
}
.logOut:hover {
    text-decoration: underline;
}