.header {
    width: 100%;
    background: #F4F1FF;
    margin: 0;
    padding: 0 10vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
}
.item {
    display: block;
    text-align: center;
    color: #6C6C6C;
    
}
.icon {
    vertical-align: middle;
    margin-right: .5rem;
}