.imgWrapper {
    min-width: 35rem;
    height: 35rem;
    width: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-grow: 0;
}
.wrapper > img {
    object-fit: contain;
}
.button {
    background-image: url("/Slider-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-radius: 999999rem;
    border: solid 2px #4F28EA;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    margin: .5rem;
}
.button:active {
    border: none;
    background-color: #EBE9FF;
}
.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.rightBtn {
    transform: rotate(180deg);
}
.imgLabel {
    width: 1rem;
    height: 1rem;
    display: block;
    background-color: #EBE9FF;
    border-radius: 999999rem;
    margin: 0 .5rem;
    transition: background-color .2s;
    cursor: pointer;
}
.radioContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.container {
    width: fit-content;
}
.radio:checked ~ .imgLabel {
    background-color: #4F28EA;
}